body {
	font-family: "Noto Sans", sans-serif;
	background-color: rgb(255,243,203);
	margin: 32px
}

h1,h2, h3, h4 {
	font-family: "Open Sans";
	font-size: 32px;
	line-height: 52px;
	margin: 40px;
}

p {
	color: 373737;
	font-size: 20px;
	line-height: 32px;
	margin: 40px;
}

#wrapper {
	width: 60%;
	margin: 0 auto 0 auto;
	padding: 0 3%;
	}
	
img.large {
	width: 500px;
	}

#top {
	background-image: url(../images "1280x500_fleetwoodlogo_top");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
	
img.medium {
	width: 250px;
	float: left;
	margin-right: 20px;
	}
	
img.small {
	width: 200px;
	float: right;
	}
	
img.center {
	float: center;
	}
	